---
import { getService } from "../../api/services";
import Layout from "../../layouts/Layout.astro";
import NotFound from "../../components/NotFound.astro";
const service = await getService(Astro.params.id);
---

<Layout title="Service">
    {
        service ? (
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading heading-center">
                                <h1>{service.title}</h1>
                            </div>
                            <div class="content">
                                <div class="img-style">
                                    <img src={service.image} alt="" />
                                </div>
                                <p>{service.description}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        ) : (
            <NotFound title="El servicio no existe" description="Es posible que se haya eliminado este servicio o no se encuentre activo" />
        )
    }
</Layout>
