---
import Layout from "../../layouts/Layout.astro";
import NotFound from "../../components/NotFound.astro";
import { getServices } from "../../api/services";
export async function getStaticPaths() {
    const services = await getServices();
    return services.map((service) => {
        return {
            params: { id: service.id },
            props: { service }
        };
    });
}
const { id } = Astro.params;
const { service } = Astro.props;
---

<Layout title="Service">
    {
        service && (
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading heading-center">
                                <h1>{service.title}</h1>
                            </div>
                            <div class="content">
                                <div class="img-style">
                                    <img src={service.image} alt="" />
                                </div>
                                <p>{service.description}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        )
    }
</Layout>
