---
import Layout from "../layouts/Layout.astro";
const name = "About";
---

<Layout title="About">
    <div>
        <p>
            {name}
        </p>
    </div>
</Layout>

<style>
    div {
        padding-top: 5%;
    }
</style>
