---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Política de privacidad">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading heading-center">
                        <h1>Política de privacidad</h1>
                    </div>
                    <div class="content">
                        <p>Fecha de vigencia: 02 de marzo de 2022</p>
                        <p>RIGON-Multiservices ("nosotros", "nosotros" o "nuestro") opera el sitio web (el "Servicio").</p>
                        <p>
                            Esta página le informa sobre nuestras políticas con respecto a la recopilación, el uso y la divulgación de datos personales cuando utiliza nuestro Servicio y las opciones
                            que tiene asociadas con ese datos. Nuestra Política de privacidad para PathSoft se crea con la ayuda.
                        </p>

                        <p>
                            Utilizamos sus datos para proporcionar y mejorar el Servicio. Al usar el Servicio, usted acepta la recopilación y el uso de información de acuerdo con esta política. A no
                            ser que definidos de otro modo en esta Política de privacidad, los términos utilizados en esta Política de privacidad tienen los mismos significados que en nuestros
                            Términos y condiciones, accesibles desde el sitio.
                        </p>

                        <h2>Recopilación y uso de información</h2>

                        <p>Recopilamos varios tipos diferentes de información para varios propósitos para brindarle y mejorar nuestro Servicio.</p>

                        <h3>Tipos de datos recopilados</h3>

                        <h4>Información personal</h4>

                        <p>
                            Mientras usa nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación personal que se puede usar para contactarlo o identificarlo ("Datos
                            personales"). La información de identificación personal puede incluir, entre otros:
                        </p>

                        <ul>
                            <li>Dirección de correo electrónico</li>
                            <li>Dirección, estado, provincia, código postal, ciudad</li>
                            <li>Cookies y datos de uso</li>
                        </ul>

                        <h4>Datos de uso</h4>

                        <p>
                            También podemos recopilar información sobre cómo se accede y utiliza el Servicio ("Datos de uso"). Estos datos de uso pueden incluir información como el protocolo de
                            Internet de su computadora dirección (por ejemplo, dirección IP), tipo de navegador, versión del navegador, las páginas de nuestro Servicio que visita, la hora y fecha de
                            su visita, el tiempo dedicado a esas páginas, único identificadores de dispositivos y otros datos de diagnóstico.
                        </p>

                        <h4>Datos de seguimiento y cookies</h4>
                        <p>Usamos cookies y tecnologías de seguimiento similares para rastrear la actividad en nuestro Servicio y mantener cierta información..</p>
                        <p>
                            Las cookies son archivos con una pequeña cantidad de datos que pueden incluir un identificador único anónimo. Las cookies se envían a su navegador desde un sitio web y se
                            almacenan en su dispositivo. Las tecnologías de seguimiento que también se utilizan son balizas, etiquetas y scripts para recopilar y rastrear información y para mejorar y
                            analizar nuestro Servicio.
                        </p>
                        <p>
                            Puede indicar a su navegador que rechace todas las cookies o que indique cuándo se envía una cookie. Sin embargo, si no acepta las cookies, es posible que no pueda utilizar
                            algunas partes de nuestro Servicio.
                        </p>
                        <p>Ejemplos de Cookies que utilizamos:</p>
                        <ul>
                            <li><strong>Cookies de sesión.</strong> Utilizamos cookies de sesión para operar nuestro Servicio.</li>
                            <li><strong>Cookies de preferencia.</strong> Usamos cookies de preferencia para recordar sus preferencias y varias configuraciones.</li>
                            <li><strong>Cookies de seguridad.</strong> Utilizamos cookies de seguridad por motivos de seguridad.</li>
                        </ul>

                        <h2>Uso de datos</h2>

                        <p>RIGON-Multiservices utiliza los datos recopilados para diversos fines:</p>
                        <ul>
                            <li>Para proporcionar y mantener el Servicio</li>
                            <li>Para notificarle sobre cambios en nuestro Servicio</li>
                            <li>Para permitirle participar en funciones interactivas de nuestro Servicio cuando elija hacerlo</li>
                            <li>Para brindar atención y soporte al cliente</li>
                            <li>Para proporcionar análisis o información valiosa para que podamos mejorar el Servicio</li>
                            <li>Para monitorear el uso del Servicio</li>
                            <li>Para detectar, prevenir y abordar problemas técnicos</li>
                        </ul>

                        <h2>Transferencia de datos</h2>
                        <p>
                            Su información, incluidos los Datos personales, puede transferirse y mantenerse en computadoras ubicadas fuera de su estado, provincia, país u otro gobierno jurisdicción
                            donde las leyes de protección de datos pueden diferir de las de su jurisdicción.
                        </p>
                        <p>
                            Si se encuentra fuera de los Estados Unidos y elige proporcionarnos información, tenga en cuenta que transferimos los datos, incluidos los Datos personales, a los Estados
                            Unidos y procesarlo allí.
                        </p>
                        <p>Su consentimiento a esta Política de privacidad seguido de su envío de dicha información representa su acuerdo con esa transferencia.</p>
                        <p>
                            RIGON-Multiservices tomará todas las medidas razonablemente necesarias para garantizar que sus datos se traten de forma segura y de acuerdo con esta Política de privacidad
                            y que no se transfieran sus Datos personales. Los datos se transferirán a una organización o un país, a menos que existan controles adecuados, incluida la seguridad de sus
                            datos y otra información personal.
                        </p>

                        <h2>Divulgación de datos</h2>

                        <h3>Requerimientos legales</h3>
                        <p>RIGON-Multiservices puede divulgar sus Datos personales de buena fe cuando considere que esta acción es necesaria para lo siguiente:</p>
                        <ul>
                            <li>Para cumplir con una obligación legal</li>
                            <li>Para proteger y defender los derechos o la propiedad de PathSoft</li>
                            <li>Para prevenir o investigar posibles irregularidades en relación con el Servicio</li>
                            <li>Para proteger la seguridad personal de los usuarios del Servicio o del público</li>
                            <li>Para protegerse contra la responsabilidad legal</li>
                        </ul>

                        <h2>Seguridad de datos</h2>
                        <p>
                            La seguridad de sus datos es importante para nosotros, pero recuerde que ningún método de transmisión a través de Internet o método de almacenamiento electrónico es 100%
                            seguro. mientras nos esforzamos utilizar medios comercialmente aceptables para proteger sus datos personales, no podemos garantizar su seguridad absoluta.
                        </p>

                        <h2>Proveedores de servicio</h2>
                        <p>
                            Podemos emplear empresas e individuos de terceros para facilitar nuestro Servicio ("Proveedores de servicios"), para proporcionar el Servicio en nuestro nombre, para
                            realizar tareas relacionadas con el Servicio. servicios o para ayudarnos a analizar cómo se utiliza nuestro Servicio.
                        </p>
                        <p>
                            Estos terceros tienen acceso a sus Datos personales solo para realizar estas tareas en nuestro nombre y están obligados a no divulgarlos ni utilizarlos para ningún otro
                            propósito.
                        </p>

                        <h3>Analítica</h3>
                        <p>Podemos utilizar Proveedores de Servicios de terceros para monitorear y analizar el uso de nuestro Servicio.</p>

                        <h2>Enlaces a otros sitios</h2>
                        <p>
                            Nuestro Servicio puede contener enlaces a otros sitios que no son operados por nosotros. Si hace clic en el enlace de un tercero, será dirigido al sitio de ese tercero.
                            Nosotros fuertemente le recomendamos que revise la Política de Privacidad de cada sitio que visite.
                        </p>
                        <p>No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de los sitios o servicios de terceros.</p>
                        <h2>Privacidad de los niños</h2>
                        <p>Nuestro Servicio no se dirige a ninguna persona menor de 18 años ("Niños").</p>
                        <p>
                            No recopilamos a sabiendas información de identificación personal de ninguna persona menor de 18 años. Si usted es padre o tutor y sabe que sus hijos tienen nos proporcionó
                            Datos Personales, por favor contáctenos. Si nos damos cuenta de que hemos recopilado Datos personales de niños sin verificación del consentimiento de los padres, tomamos
                            pasos para eliminar esa información de nuestros servidores.
                        </p>
                        <h2>Cambios a esta política de privacidad</h2>
                        <p>Es posible que actualicemos nuestra Política de privacidad de vez en cuando. Le notificaremos cualquier cambio publicando la nueva Política de privacidad en esta página.</p>
                        <p>
                            Le informaremos por correo electrónico y/o un aviso destacado en nuestro Servicio, antes de que el cambio entre en vigencia y actualizaremos la "fecha de vigencia" en la
                            parte superior de esta Política de Privacidad. Política.
                        </p>
                        <p>
                            Se le recomienda revisar esta Política de Privacidad periódicamente para cualquier cambio. Los cambios a esta Política de privacidad son efectivos cuando se publican en
                            esta página.
                        </p>
                        <h2>Contacta con nosotros</h2>
                        <p>
                            Si tiene alguna pregunta sobre esta Política de privacidad, <a href="/contact">
                                <span>contáctenos</span>
                            </a>
                        </p>
                    </div><a href="/contact"> </a>
                </div><a href="/contact"> </a>
            </div><a href="/contact"> </a>
        </div><a href="/contact"> </a>
    </div><a href="/contact"> </a><a href="/contact"> </a>
</Layout>
